# Exercise #1: Python basics

To do this exercise, download this notebook and put it in the same folder as your other notebooks. You should see the notebook appear in your Jupyter Notebook home page.

There are several tasks described below. Your job is to **change the code in the cells** so that the output from running the cell matches the expected output indicated above the cell. Try to make the **smallest change possible**. Many exercises can be solved by changing a single value or variable name.

## Task 1: Arithmetic expressions

Add parentheses to the Python statement below so that it prints out the value 7.0.

Expected output: `7.0`

In [1]:
10 + 4 / 2

12.0

## Task 2: Expressions of inequality

Change the operator in the statement below so that it displays `True` instead of `False`.

Expected output: `True`

In [2]:
14 > 15

False

## Task 3: Variable assignment

Change the variable assignment below so that the cell evaluates to
the number 32.

Expected output: `32`

In [3]:
my_number = 17
my_number

17

## Task 4: Types

Three variables are assigned below, all with different types.
Replace the word `None` inside the parentheses of type() in the print
statement below so that it prints `str`.

Expected output: `str`

In [ ]:
x = 14
y = 17.4
z = "mother said there'd be days like these"
type(None)

## Task 5: String literals

Modify the statement below so that it displays the string "We aren't friends now." (i.e., change "are" to "aren't".) Use a single quoted string—don't change it to double quotes.

Expected output: `We aren't friends now.`

In [4]:
print('We are friends now.')

We are friends now.

## Task 6: Questions about strings

In the cell below, on a line directly following the two variable assignments, write an expression that evaluates to the sum of the lengths of the two string variables defined in the cell (`first_line` and `second_line`). Use the `len()` function.

Expected output: `51`

In [5]:
first_line = "It was the best of times."
second_line = "It was the worst of times."
# your code here

## Task 7: Questions about strings, part 2

Write an expression at the bottom of the following cell that evaluates to the position of the word `window` in the string defined in the variable called `romeo.` (Hint: Use the [`.find()` method](https://docs.python.org/3/library/stdtypes.html#str.find).)

Expected output: `37`

In [6]:
romeo = "But, soft! what light through yonder window breaks?"
# your code here!

## Task 8: String transformations

Modify the expression inside the parentheses of the `print` function below so that it displays the contents of the variable "benediction", but with all white space removed from the beginning and end of the string. (Hint: Use the [`.strip()` method](https://docs.python.org/3/library/stdtypes.html#str.strip)).

Expected output: `and the horse you rode in on`

In [7]:
benediction = "     and the horse you rode in on    \n"
print(benediction)

     and the horse you rode in on

## Task 9: String transformations, part 2

Using the previously defined `benediction` variable, write an
expression in the parentheses of the `print` function below so that running the cell displays to the content of the string, with all whitespace removed, *and* with all letters converted to uppercase. (Hint: [Use the `.upper()` method](https://docs.python.org/3/library/stdtypes.html#str.upper)]).

Expected output: `AND THE HORSE YOU RODE IN ON`

In [8]:
print(benediction) # your code here!

     and the horse you rode in on

## Task 10: String indexing

Modify the value assigned to variable `offset` below so that the expression at the bottom of the cell evaluates to `'p'`.

Expected output: `'p'`

In [10]:
offset = 4
"apple"[offset]

'e'

## Task 11: String slices

Modify the values assigned to variables `start` and `end` below so that the expression at the bottom of the cell evaluates to the string `'yonder'`.

Expected output: `'yonder'`

In [11]:
start = 0
end = 10
romeo = "But, soft! what light through yonder window breaks?"
romeo[start:end]

'But, soft!'

## Task 12: Integers and strings

Modify the statement below so that it displays the number 100. Do this using the int() function (hint: you need to use it twice).

Expected output: `100`

In [12]:
print("19" + "81")

1981

## Task 13: Simple indexing and list functions

There is a list of numbers assigned to a variable `number_list` in the code below that has been assigned a list of numbers. Run this cell before filling in the answers below.

In [13]:
number_list = [-2, -58, 4, 36, -6, 60, -57]

Write another expression in the cell below, using square bracket index notation, that causes the 4th element of `number_list` (i.e., the number `36`) to be displayed when running the code in the cell.

Expected output: `36`

Now write an expression that evaluates to the number of items in the list (i.e., `7`), using the `len()` function.

Expected output: `7`

The following expression:

    max(number_list)
    
... will evaluate to the largest value in `number_list` (i.e., `60`). Change the variable `x` in the code below so that the expression

    sorted(number_list)[x]
    
... does the same thing. (i.e., when you run the cell, it should display `60`.)

Expected output: `60`

In [16]:
x = 0
sorted(number_list)[x]

-58

## Task 14: List slices

In the cell below, insert integer values before and after the colon in the list index so that the expression evaluates to a slice of `number_list` starting with its second element and ending with its fifth element (exclusive).

Expected output: `[-58, 4, 36]`

In [20]:
number_list[:]

[-2, -58, 4, 36, -6, 60, -57]

Now, insert integer values before and after the colon in the expression below so that the expression evaluates to a slice of `number_list` starting with its third element and ending at the end of the list.

Expected output: `[4, 36, -6, 60, -57]`

In [ ]:
number_list[:]

Finally, fill in a value for the variable `x` below so that the expression evaluates to a slice of `number_list` starting at the second-to-last element of the list and ending at the end of the list. (Hint: `x` should be a negative integer.)

Expected output: `[60, -57]`

In [21]:
x = 0
number_list[x:]

[-2, -58, 4, 36, -6, 60, -57]

## Task 15: List comprehensions

For this problem set, I'm introducing a new Python operator: the modulo operator, `%`. This operator returns the *remainder* of dividing one integer by another. For example:

In [25]:
22 % 3

1

This expression evaluates to `1` because the remainder of dividing `22` by `3` is `1`. We can use the modulo operator to test whether or not a number is even (i.e., divisible by 2), by using the number `2` on the right side of the operator:

In [26]:
100 % 2

0

In [27]:
101 % 2

1

Given the above information, modify the list comprehension below so that it evaluates to a list containing *only* the members of `number_list` that are *divisible by three*. (Hint: Use the modulo operator in the membership expression of the list comprehension.)

Expected output: `[36, -6, 60, -57]`

In [29]:
[item for item in number_list if True]

[-2, -58, 4, 36, -6, 60, -57]

## Task 16: Splitting strings

In the cell below, a variable `float_str` is set to a string containing a list of floating-point numbers, separated by semicolons (`;`). (Make sure to run this cell before you proceed, so that the variable will be available in subsequent cells.)

In [30]:
float_str = "5.8;6.9;3.1;5.9;6.6;6.5;6.5;5.6;6;6.4;3.32;6.0;6.0;6.3;6.6;6.6"

Modify the list comprehension below so that it evaluates to a list of floating-point numbers. The type of the expression should be `list` and the type of individual elements in the list should be `float`. (Hint: You'll need to use the `float()` function in the list comprehension's predicate expression, and call the `.split()` method on the string.)

Expected output:

    [5.8, 6.9, 3.1, 5.9, 6.6, 6.5, 6.5, 5.6, 6.0, 6.4, 3.32, 6.0, 6.0, 6.3, 6.6, 6.6]

In [34]:
[item for item in float_str]

['5',
 '.',
 '8',
 ';',
 '6',
 '.',
 '9',
 ';',
 '3',
 '.',
 '1',
 ';',
 '5',
 '.',
 '9',
 ';',
 '6',
 '.',
 '6',
 ';',
 '6',
 '.',
 '5',
 ';',
 '6',
 '.',
 '5',
 ';',
 '5',
 '.',
 '6',
 ';',
 '6',
 ';',
 '6',
 '.',
 '4',
 ';',
 '3',
 '.',
 '3',
 '2',
 ';',
 '6',
 '.',
 '0',
 ';',
 '6',
 '.',
 '0',
 ';',
 '6',
 '.',
 '3',
 ';',
 '6',
 '.',
 '6',
 ';',
 '6',
 '.',
 '6']

Using the expression you wrote above as a starting point, write an expression below that evaluates to the *sum* of the numbers in the list.

Expected output: `94.11999999999999` (or close to that)

94.11999999999999

## Task 17: Strings in list comprehensions

In the cell below, I've defined a list of strings and assigned it to a variable called `greek`. Make sure to run this cell before you continue.

In [35]:
greek = ["alpha", "beta", "gamma", "delta", "epsilon"]

Okay. Your job in the next cell is to modify the list comprehension so that it evaluates to a list of strings in `greek` that contain *exactly five letters*. (Hint: You'll need to add a predicate expression.)

Expected output: `["alpha", "gamma", "delta"]`

In [36]:
[item for item in greek]

['alpha', 'beta', 'gamma', 'delta', 'epsilon']

In the cell below, write an expression that evaluates to a string containing each of the *first letters* of each string in `greek`. This one is tricky—take your time and think it through. Hint: You'll need to use a list comprehension and the `.join()` method.

Expected output: `'abgde'`

## Task 18: For loops

The cell below has the skeleton of the `for` loop written for you. Replace the string `"blip"` with an expression such that the cell, when executed, outputs the first ten multiples of five.

Expected output:

    0
    5
    10
    15
    20
    25
    30
    35
    40
    45

In [37]:
for i in range(10):
    print("blip")

blip
blip
blip
blip
blip
blip
blip
blip
blip
blip

Using the variable `greek` that was defined earlier, write a `for` loop in the cell below so that when the cell is executed it outputs, on separate lines, each of the elements of the list in upper case.

Expected output:

    ALPHA
    BETA
    GAMMA
    DELTA
    EPSILON

You're done! Good job.